.overallRating {
  background-color: #fff0e0;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.emoji {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.text {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
