.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  
    &__button {
      background-color: transparent;
      border: 1px solid #ff6600;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin: 0 5px;
      font-size: 14px;
      font-weight: 600;
      color: #ff6600;
      cursor: pointer;
  
      &--active {
        background-color: #ff6600;
        color: #ffffff;
      }
    }
  }
  